In [3]:
import recordlinkage
import pandas as pd

In [63]:
datiAziende = pd.read_csv("/home/alessandro/Scrivania/Homework4/aziendeAlignment.csv")
datiAziende = datiAziende.drop('Unnamed: 0', 1)
datiAziende.dtypes

Name            object
Rank            object
Sector          object
CEO             object
Head Country    object
website         object
dtype: object

In [76]:
dfinal = datiAziende.replace({"NAN": None})
dfinal['Rank'] = dfinal['Rank'].str.replace(',','.')
dfinal["Sector"] = dfinal["Sector"].astype('string')
dfinal["Rank"] = dfinal["Rank"].astype(float)
dfinal["CEO"] = dfinal["CEO"].astype('string')
dfinal["Head Country"] = dfinal["Head Country"].astype('string')
dfinal["website"] = dfinal["website"].astype('string')
dfinal['Name']= dfinal['Name'].astype('string')
dfinal.dtypes

Name             string
Rank            float64
Sector           string
CEO              string
Head Country     string
website          string
dtype: object

In [78]:
train = dfinal[:4875]
test = dfinal[4875:]

In [79]:
df_a = pandas.DataFrame(train)
df_b = pandas.DataFrame(test)

In [80]:
indexer = recordlinkage.Index()
indexer.block('Name')
candidate_links = indexer.index(df_a, df_b)

In [86]:
compare = recordlinkage.Compare()

compare.string('Name', 'Name', method='jarowinkler', threshold=0.85, label='Name')
compare.string('Head Country', 'Head Country', label='Head Country')
compare.string('website', 'website', label="website")
compare.string('Sector', 'Sector' ,label="Sector")
compare.string('CEO', 'CEO', method='jarowinkler', label="CEO", threshold=0.90)
compare.exact('Rank','Rank',label='Rank')

compare_vectors = compare.compute(candidate_links, df_a, df_b)

In [87]:
features = compare.compute(candidate_links, df_a, df_b)

features

           Name  Head Country  website  Sector  CEO  Rank
4635 6132   1.0           0.0      1.0     1.0  0.0     0

In [83]:
true_linkage = pandas.Series(YOUR_GOLDEN_DATA, index=pandas.MultiIndex(YOUR_MULTI_INDEX))

logrg = recordlinkage.LogisticRegressionClassifier()
logrg.fit(compare_vectors[true_linkage.index], true_linkage)

logrg.predict(compare_vectors)

NameError: name 'YOUR_GOLDEN_DATA' is not defined